.reactions {
    justify-content: center !important;
    margin: 0% 25% 15% 25%;
    text-align: center !important;
    margin-bottom: 5rem !important;
}
.getToKnowJo {
    text-align: left !important;
    padding-top: 50vh;
}
#fourjos {
    margin: 5rem;
}
.josreactions {
    justify-content: center;
    position: relative;
    margin: 0% 25% 15% 25%;
    text-align: center !important;
    height: 10rem;
    padding: 1rem;
    margin-bottom: 5rem !important;
    border-radius: 12px;
    color: #ffffff;
}