.joworks {
    justify-content: center;
    margin: 0% 25% 15% 25%;
    text-align: left;
    margin-bottom: 5rem !important;
    background-color: #ffffff !important;
}

.howjoworks {
    color: #4277DE;
    text-align: left !important;
}