* {
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
    color: #082653;
}
body {
    margin: 0;
    padding: 0;
}
p{
    font-size: 15px;
}
.centeralign {
    align-content: center;
}
.alignheading {
    margin: 2rem;
}
.aligntext {
    font-size: 16px;
    margin: 2rem;
}
#comingsoon {
    font-family: 'Rokkitt', serif;
    color: #4277DE;
    font-weight: 600;
    line-height: 25px;
    font-size: 24px;
    margin: 2rem;
}
h2 {
    font-family: 'Rokkitt', serif;
    font-weight: 700 !important;
    font-size: 40px;
    line-height: 45px;
    text-align: center !important;
    color: #4277DE;
}
h1 {
    font-family: 'Rokkitt', serif;
    font-weight: 700 !important;
}
html, body {
    height: 100%;
}
mark {
    font-family: 'Rokkitt', serif !important;
    font-weight: 700;
}
.whiteText {
    color: #ffffff;
}
/* .underTheWave {
    background-image: url(../Jo/wave.svg);
    bottom: 0;
} */
.form {
    width: 40rem !important;
    text-align: center;
    margin: 5rem 2rem 5rem 2rem;
}
.jumbotron {
    justify-content: center;
    padding: 5rem !important;
    /* margin: 0% 25% 0% 25% !important; */
    text-align: center;
    background-color: transparent !important;
    margin-bottom: 0 !important;
}
mark {
    background-color: #D8ECF8 !important;
}
.jothefish {
    justify-content: center;
    margin: 0% 25% 15% 25%;
    text-align: center !important;
    margin-bottom: 5rem !important;
    background-color: none !important;
}
img {
    width: 15rem;
    max-width: 100%;
}
#landingjo {
    width: 20rem;
    padding: 0;
}
.contactinput {
    margin: 0rem 0rem 1rem 0rem;
}
#rightalignjo {
    text-align: right;
}
.btn {
    background-color: #4EC8F4 !important;
    border: none !important;
    background-image: linear-gradient(0deg, #ffff0000 0%, #ffffff00 50%, #70D9FF 51%);
    border-radius: 8%;
    border: 0;
    margin: 15px;
    font-family: 'Robot', sans-serif;
    font-weight: 700 !important;
}