* {
    font-family: 'Roboto', sans-serif;
}
.jothefish {
    justify-content: center;
    margin: 0% 25% 15% 25%;
    text-align: center;
    margin-bottom: 2rem !important;
}
img {
    width: 15rem;
    max-width: 100%;
}