.card {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 15px;
    width: 30rem;
    position: absolute;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    font-size: 15px;
    left: 0;
}