/* .card {
    background: rgba(255, 255, 255, 0.2);
} */
#team {
    padding-bottom: 0 !important;
}
.membersTopGrid {
    padding-top: 25vh;
    padding-bottom: 10vh;
}
#showBio {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 15px;
    width: 25rem;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    font-size: 15px;
    left: -15vh;
}
.membersLowerGrid {
    padding-bottom: 50vh;
}